body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.nav ul {
    list-style: none;
    background: #000000;
    ;
    text-align: center;
    padding: 0;
    margin: 0;
}
.nav li {
    display: inline-block;
}
.nav a {
    text-decoration: none;
    color: white;
    width: 100px;
    display: block;
    text-align: center;
    padding: 15px;
    font-size: 17px;
    font-family: Helvetica;
}
li {
    display: inline;
}
h1 {
    text-align: 20px right;
    border-inline-color: black;
    font-size: bold;
    padding: 50px;
    text-align: center;
}
.courousel h2{
    text-align:center;
    font-size:50px;
}
#about p{
    font-size:24px;
    text-align:center;
    color:white;
}
.far{
    text-align:center;
    padding:18px;
    font-weight:bold;
    color:white;
}
#about {
    padding:30px;
    background-image:url('./images/daan-stevens-yGUuMIqjIrU-unsplash.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    height: 100vh;


}